<div class="track" context-menu="onContextShow()" context-menu-close="onContextClose()"
	data-guid="{{ guid }}"
    data-target="{{ track.uri || track.tlid }}"
    ng-class="{ 'highlight': highlight, 'expanded' : expanded, 'loading': track.loading, 'selected': selected, 'nowplaying': ($parent.currentPlayingTrack.uri == track.uri) }"
    ng-dblclick="play($event)"
    ng-click="selectTrack($event)"
    ng-show="visible">

		<div class="col w30" ng-bind="track.name"></div>
		<div class="col w30">
			<span ng-repeat="artist in track.artists">
				<a href="/browse/artist/{{ artist.uri }}" ng-bind="artist.name"></a><span ng-if="!$last">, </span>
			</span>
		</div>
		<div class="col w30 album">
			<a href="/browse/album/{{ track.album.uri }}" ng-bind="track.album.name"></a>
		</div>
		<div class="col w5" ng-bind="track.duration_ms | formatMilliseconds"></div>
		<div class="col w5">
			<div class="bars">
				<span class="bar" ng-class="{true:'on'}[track.popularity>0]"></span>
				<span class="bar" ng-class="{true:'on'}[track.popularity>20]"></span>
				<span class="bar" ng-class="{true:'on'}[track.popularity>40]"></span>
				<span class="bar" ng-class="{true:'on'}[track.popularity>60]"></span>
				<span class="bar" ng-class="{true:'on'}[track.popularity>80]"></span>
			</div>
		</div>
		<div class="clear-both"></div>
	
</div>

<!--
<div class="contextmenu position-fixed" id="{{ track.uri || track.tlid }}">
    <ul class="dropdown-menu" role="menu">
        <li ng-click="play()">
            Play track<span ng-show="multipleselected">s</span>
        </li>
        <li class="divider"></li>
        <li ng-click="addToQueue()">
            Add track<span ng-show="multipleselected">s</span> to queue
        </li>
        <li ng-show="$parent.type == 'tracklist'" ng-click="removeFromQueue()">
            Remove from queue
        </li>
        <li class="divider"></li>
        <li ng-click="startStation()">
            Start station
        </li>
        <li class="divider"></li>
        <li ng-click="showPlaylists()">
            Add to playlist
        </li>
        <li ng-if="$parent.isowner" ng-click="removeFromPlaylist()">
            Remove from playlist
        </li>
        <li class="divider"></li>
        <li ng-click="toggleSaveTrack()" ng-show='showSaveTrack'>
            {{ (trackAlreadySaved) ? 'Remove track from library' : 'Save track in library' }}
        </li>
    </ul>
</div>
-->